//fondos
.fondo-contacto{
    background-image: url(../imagenes/campo-maiz.webp);background-size: cover;
}

//cuadros
.box-shadow{
    background-color: rgb(0 0 0 / 71%);
    box-shadow: inset 0px 0px 1px rgb(51 51 55);
    width: 100%;
    padding: 0 0 25px 0;
}

.cuadro-grande{
    border-radius: 25px;
    padding: 25px;
    border: none;
    margin: 70px 0 90px 0;
    box-shadow: inset 0px 0px 10px rgb(51 51 55);
    background-color: rgba(23, 23, 23, 0.98);
    @media (max-width:768px){
        width: 90%;
    }
    @media (min-width:1024px){
        width: 70%;
    }
}

.cuadro{
    display: flex;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    margin: 15px 0 10px 0;
    border: none;
    outline: none;
    color: rgb(198, 198, 198);
    background-color: rgb(23, 23, 23);
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    width: 90%;
}

//ajuste contacto
.ajuste-contacto {
    gap: 10px;
    margin: 5em 1em 7em 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
    &:hover {
    transform: scale(1.03);
    border: 1px solid black;
    z-index: 0;
    }
}
.z-index-up{z-index: 50;}

//grid para solucionar problema que tengo en boots con mi forms
@media (min-width:1024px){
    .gridForm{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "formIzq formDer"
        "formAb formAb";
        align-items: center;
    }
    .formIzq{grid-area: formIzq;}
    .formDer{grid-area: formDer;}
    .formAb{grid-area: formAb;}
    //height consulta desktop
    .consultaHeight{height: 13em;}
    }
    //height consulta mobile
@media (max-width:768px){
    .consultaHeight{
        height: 13em;
    }
}

    //no soy un bot
.noBot{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.noBot label{margin-right: 15px;}