.fondoEmpresa{
    background-image: url(../imagenes/21.png);
    background-size: cover;
    background-position: top;
}

.parrafoEmpresa{
    padding: 60px;
    text-align: justify;
    margin: 0 0 56px 0;
    font-size: 25px;
    color: #a9b1af;
}
@media (max-width:768px){
    .parrafoEmpresa{
        margin: 0; padding: 20px;
    }
}

//Mision vision
.tituloMisVis{
    font-size: 5em;
    color: #008062;
    margin: 0 0 30px 0;
    font-weight: 800;
}
.mision, .vision{
    background-color: rgb(8 16 21 / 69%);
    width: 90%;
    height: 80%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgRedonda{
    border-radius: 100%;
    border: #a9a3a3 solid 1px;
    box-shadow: 0px 0px 20px $color-ppal;
    width: 90%;
}