//bucles para crear clases

//.width-numero_de_pixeles
@for $i from 1 through 100{
    .width-px-#{$i*5}{
        width: 5px * $i;
        height: auto;
    }
}

//each para colores
$color-array:(
            "negro":$negro,                                   
            "blanco":$blanco,
            "color-ppal":$color-ppal,
            "color-sec":$color-sec,
            "color-ter":$color-ter,
            "dark-green":$dark-green,
            "neon-green":$neon-green,
            "gris":$gris
        );
@each $color-name, $color-value in $color-array{
    .txt-#{$color-name}{
        color: $color-value;
    }
    .bg-#{$color-name}{
        background: $color-value;
    }
}