//Variables

    //paleta de colores
$color-ppal: hsl(136, 57%, 30%);
$color-sec: rgb(2, 90, 50);
$color-ter: rgb(32 149 97);
$color-cuat: rgb(92 204 133);
$neon-green: rgb(24, 220, 40);
$dark-green: rgb(22, 71, 60);
$green-alt: rgb(37, 131, 89);
$negro: rgb(21, 21, 21);
$blanco: white;
$gris: rgb(94, 94, 94);
$bg-gris:rgba(241, 233, 233, 0.52);
$gris-alt:rgb(200, 200, 200);
$darkest: rgb(24 24 24);
$blanco-sucio:rgb(228, 228, 228);
$bg-negro:rgba(0, 0, 0, 0.5);