//boton general
.button {
    padding: 17px 18px;
    border-radius: 50px;
    color: $blanco;
    background-color: black;
    box-shadow: rgba(29, 29, 29, 0.05) 0 0 8px;
    font-size: 16px;
    transition: all .5s ease;
    &:hover {
        background-color: $color-ppal;
        color: $blanco;
        box-shadow: $neon-green 0px 7px 29px 0px;
    }
    &:active {
        background-color: $color-ppal;
        color: $blanco;
        box-shadow: $blanco-sucio 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }
}


//botones con extend

//botones main
.button-soporte{
    @extend .button;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    &:hover{
        letter-spacing: 3px;
    }
    &:active {
        letter-spacing: 3px;
    }
}

.button-nosotros{
    @extend .button;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    padding: 15px 38px;
    margin: 0px 30px;
    color: black;
    background-color: $blanco;
    border: 3px black solid;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    &:hover{
        letter-spacing: 3px;
        border: 0;
    }
    &:active {
        letter-spacing: 3px;
        border: 0;
    }
}

//botones productos y servicios
.button-descuentos{
    @extend .button-soporte;
}

.button-todoslosproductos{
    @extend .button-nosotros;
}

.button-service{
    margin: 0;
    padding: 3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525c1;
    color: $blanco;
    width: 100%;
    font-size: 20px;
    height: 100%;
    border: 2px $blanco solid;
    &:hover{
        background-color: $dark-green;
    }
}

//enviar
.enviar:hover {background-color: $dark-green;
    color: $blanco;}
.enviar{
    margin: 3em;
    padding: 0.5em;
    border-radius: 10px;
    width: 15em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: $blanco;
    transition: all .5s ease;
    &:hover {
        background-color: $dark-green;
        color: $blanco;
    }
    &:active {
        color: $color-ppal;
        border-radius: 100px;
        transform: translateY(10px);
        transition: 100ms;
       }
}


//botones login
.button-login {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: $blanco;
  text-align: center;
  width: 50%;
  &:hover {
    background-color:$dark-green;
    color: $blanco;
  }
}

.button-registrarse {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: $blanco;
  width: 50%;
  &:hover {
    background-color:$dark-green;
    color: $blanco;
  }
}


.button-olvide {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: $blanco;
  width: 100%;
  &:hover {
    background-color:$dark-green;
    color: $blanco;
  }
}



//no soy un robot
.checkbox-wrapper-12 {
    position: relative;
  }
  .checkbox-wrapper-12 > svg {
    position: absolute;
    top: -130%;
    left: -170%;
    width: 110px;
    pointer-events: none;
  }
  .checkbox-wrapper-12 * {
    box-sizing: border-box;
  }
  .checkbox-wrapper-12 input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
  }
  .checkbox-wrapper-12 input[type="checkbox"]:focus {
    outline: 0;
  }
  .checkbox-wrapper-12 .cbx {
    width: 24px;
    height: 24px;
    top: calc(100px - 12px);
    left: calc(100px - 12px);
  }
  .checkbox-wrapper-12 .cbx input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #bfbfc0;
    border-radius: 50%;
  }
  .checkbox-wrapper-12 .cbx label {
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: trasnlate3d(0, 0, 0);
    pointer-events: none;
  }
  .checkbox-wrapper-12 .cbx svg {
    position: absolute;
    top: 5px;
    left: 4px;
    z-index: 1;
    pointer-events: none;
  }
  .checkbox-wrapper-12 .cbx svg path {
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
    transition: stroke-dashoffset 0.3s ease;
    transition-delay: 0.2s;
  }
  .checkbox-wrapper-12 .cbx input:checked + label {
    animation: splash-12 0.6s ease forwards;
  }
  .checkbox-wrapper-12 .cbx input:checked + label + svg path {
    stroke-dashoffset: 0;
  }
  @-moz-keyframes splash-12 {
    40% {
      background: #866efb;
      box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
    }
    100% {
      background: #866efb;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
    }
  @-webkit-keyframes splash-12 {
    40% {
      background: #866efb;
      box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
    }
    100% {
      background: #866efb;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  @-o-keyframes splash-12 {
    40% {
      background: #866efb;
      box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
    }
    100% {
      background: #866efb;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  @keyframes splash-12 {
    40% {
      background: #866efb;
      box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
    }
    100% {
      background: #866efb;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}