//fondos

.fondo-prod-s1{
    background-image: url(../imagenes/fondoProducto.png);
    background-position: center;
    background-size: cover;
    height: 630px;
}

.fondo-prod-s2{
    background-image: url(../imagenes/fondo-minimalista-s2.jpg);
    background-size: auto;
    padding-top: 40px;
}

// distribucion botones
.center-button{
    @media (max-width:768px){
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    @media (min-width:1024px){
        display: flex;
        flex-direction: row; 
        justify-content: center;
    }
}

//Cards productos
.mi-card{
    border-radius: 25px;
    padding: 25px;
    border: none;
    margin: 37px 0 25px 0;
    box-shadow: inset 0px 0px 10px rgb(51 51 55);
    background-color: rgba(45, 40, 40, 0.98);
    width: 90%;
}

//Servicio 
.fondo-servicio{
    background-image: url(../imagenes/30.png);
    background-size: cover;
    background-position: center;
}